
@font-face {
  font-family: 'Hogar Script';
  src: url('./assets/fonts/hogar-scriptlight-webfont.woff2') format('woff2'),
       url('./assets/fonts/hogar-scriptlight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import '/gutenberg/gutenberg';