// Color Palette
$brand-primary: #d12368;
$brand-dark:    #darken($brand-primary, 10%);
$white:         #f9fbf2;
$black:         #363537;
$gray-dark:     #777775;
$gray-light:    #b8b9b4;

// Font Weights
$font-weight-base: 300;
$font-weight-bold: 600;

// Animations
$hover-duration: 300ms;
$easing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);