// Color Palette
$brand-primary: #5989c5;
$brand-dark:    #274675;
$white:         #fbfff7;
$black:         #02111b;
$gray-dark:     #3f4045;
$gray-light:    #a2a79e;

// Font Weights
$font-weight-base: 300;
$font-weight-bold: 600;

// Animations
$hover-duration: 300ms;
$easing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);